body, html {
    height: 100%;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 20px;
    scroll-behavior: smooth;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(243, 225, 255, 0.2));
    background-attachment: fixed;
  }

  #navigation {
    position:fixed;
    top:0px;
    width:100%; 
    height: 60px;
    background-color:#FFFFFF;
    z-index:9;
    white-space: nowrap;
    box-shadow: 0 0 25px 0 black;
  }
  
  a.nav-image img {
    height: 45px;
    margin-left: 5px;
    margin-top: -2px;
    vertical-align: middle;
    }
  
  a.link {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    margin-left: 20px;
    margin-top: 15px;
  }
  
  a:hover {
    color: #EF798A;
  }
  
  a.current:link, a.current:visited {
    color: #bebebe;
    text-decoration: none;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    /* border-radius: 5px; */
    position: relative;
    display:inline-block;
    margin: 20px;
    z-index: 2;
    background-color: #f1f1f1;
  }
  
  .cardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 90px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }
  
  .container {
    padding: 2px 16px;
  }

  .cardContainer .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }