body, html {
    height: 100%;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background-color: #f1f1f1;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(212, 163, 245, 0.2));
    background-attachment:fixed;
    padding-bottom: 40px;
  }
  /* rgba(185,207,212,0.3) */

  header img {
    height: 45px;
    margin-left: 15px;
}

header * {
  display: inline;
  justify-content: center;
}

header li {
  margin: 20px;
  justify-content: center;
}

header li a {
  color: black;
  text-decoration: none;
}

a.current:link, a.current:visited {
  color: #bebebe;
  text-decoration: none;
}
  
  .bg-image {
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .img2 { background-image: url("BTS5.jpg"); }
  .img3 { background-image: url("BTS2.jpg"); }
  .img4 { background-image: url("BTS3.jpg"); }
  .img5 { background-image: url("BTS4.jpg"); }
  .img1 { background-image: url("BTS6.jpg"); }

  header {
    background-color:white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    z-index: 3;
  }


  .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  border-radius: 5px;
  position: relative;
  display:inline-block;
  margin: 20px;
  left: 5%;
  top: 5%;
  z-index: 2;
  background-color: #f1f1f1;
  justify-content: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color:#9e9e9e;
  text-align: center;
}